$default: #243f4d;
$menu: #436372;
$title: #191919;
$cover-title: #414141;
$cover-text: #585858;
$bg: rgba(252, 215, 182, 0.2);
$search: #edf1f4;
$bg-cover :#fcd7b6;
$accent: #a3bbc8;
$footer: #7b7b7b;
$footer-title: #1f2044;
$placeholder: #234969;
$line: #dae4e9;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%myriadpro-400 {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-weight: 400;
}

%poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}