@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  padding: 50px 0 45px;
  background-color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item {
    position: relative;
  }

  &__list-item+&__list-item {
    margin-left: 30px;
  }

  &__list-btn {
    padding: 0;
    @extend %rubik-500;
    font-size: 1.5rem;
    line-height: 1;
    color: $menu;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: $title;
    }
  }

  &__list-link {
    @extend %rubik-500;
    font-size: 1.5rem;
    line-height: 1;
    color: $menu;
    text-decoration: none;
    transition: color .3s;

    &:hover {
      color: $title;
    }
  }

  &__dropdown-list {
    position: absolute;
    width: 17.5rem;
    padding: 0 10px;
    background-color: #fff;
    transform-origin: 0 0;
    transform: scaleY(0%);
    transition: all .3s;
  }

  &__dropdown-list--active {
    transform: scaleY(100%);
  }

  &__dropdown-link {
    @extend %rubik-500;
    font-size: 1.5rem;
    color: #436372;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      color: $title;
    }
  }

}

.user-nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item+&__item {
    margin-left: 20px;
  }

  &__search {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__search-input {
    position: absolute;
    right: 0;
    width: 0;
    height: 50px;
    padding: 10px 50px 10px 25px;
    // padding: 0;
    border: none;
    background-color: $search;
    border-radius: 25px;
    opacity: 0;
    transition: all .3s;
  }

  &__search:hover &__search-input {
    width: 270px;
    opacity: 1;
  }

  &__search-input:focus,
  &__search-input:active {
    width: 270px;
    opacity: 1;
  }

  &__search-btn {
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: $search;
    border-radius: 50%;
    border: none;
    z-index: 1;
    cursor: pointer;
  }

  &__search-img {
    margin: 0 auto;
  }

  &__menu {
    height: 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background-color: $bg-cover;
    border-radius: 25px;
  }

  &__menu-item {
    position: relative;
    padding: 12px 20px 0;
    transition: all .3s;
  }

  &__menu-item+&__menu-item {
    border-left: 1px solid #fff;
  }

  &__menu-item-add--hidden {
    width: 0;
    padding: 0;
    opacity: 0;
  }

  &__menu-link {
    text-decoration: none;

    & path {
      transition: fill .3s;
    }

    &:hover path {
      fill: #fff;
    }
  }

  &__menu-num {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 1.6rem;
    height: 1.6rem;
    @extend %dmsans-400;
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
  }

  &__btn-menu {
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
}

.cover {
  max-width: 1770px;
  margin: 0 auto;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.cover-slider {
  padding: 215px 10px 45px;
  background-color: $bg-cover;

  &__container {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: -105px;
      top: -115px;
      width: 609px;
      height: 634px;
      background-image: url(../images/slider/slider-img-bg.png);
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 2;
  }

  &__title {
    max-width: 430px;
    margin-bottom: 26px;
    @extend %rubik-500;
    font-size: 7.2rem;
    line-height: 7rem;
  }

  &__text {
    max-width: 385px;
    margin-bottom: 35px;
    padding-left: 2px;
    font-size: 1.8rem;
    line-height: 1.667;
  }

  &__link {
    position: relative;
    display: block;
    width: 200px;
    margin-left: 1px;
    padding: 23px 25px 22px 26px;
    @extend %rubik-500;
    font-size: 1.5rem;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    background-color: $accent;

    &:hover &-icon {
      animation: arrow-link 1s linear infinite;
    }
  }

  &__link-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .slick-dots {
    padding-top: 210px;
    display: flex;
    justify-content: center;
    font-size: 0;

    button {
      width: 2.9rem;
      height: 2.9rem;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      @extend %rubik-500;
      font-size: 1.1rem;
      line-height: 1;
      color: $default;
      background-color: #fff;
      border: none;
      border-radius: 50%;
      opacity: 0.302;
    }

    .slick-active {
      button {
        opacity: 1;
      }
    }
  }
}

.cover-bottom {
  padding: 40px 0;
  background-color: $bg;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 310px;
    display: flex;
    align-items: flex-start;
  }

  &__item-content {
    padding-left: 30px;
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 1.8rem;
    line-height: 2.22;
    color: $cover-title;
  }

  &__item-text {
    @extend %dmsans-400;
    color: $cover-text;
  }

}

@keyframes arrow-link {
  0% {
    right: 20px;
  }

  50% {
    right: 30px;
  }

  100% {
    right: 20px;
  }
}

/******* FOOTER ******/
.footer {
  color: $footer;
  background-color: #fff;
}

.footer-top {
  padding: 80px 0;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.714;
  border-bottom: 1px solid $line;

  &__contact {
    max-width: 200px;
    margin-right: 100px;
  }

  .logo {
    display: block;
    margin-bottom: 23px;
  }

  &__address,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 10px;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
  }

  &__address span,
  &__phone span,
  &__email span {
    text-transform: uppercase;
  }

  &__nav {
    width: 170px;
    margin-right: 162px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 1.6rem;
    line-height: 5.4rem;
    color: $footer-title;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    margin-bottom: 8px;
    font-size: inherit;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $title;
    }
  }

  &__form {
    max-width: 270px;
    font-size: 0;
  }

  &__text {
    margin-bottom: 34px;
  }

  &__form-input {
    max-width: 170px;
    padding: 12px 20px;
    @extend %dmsans-400;
    font-size: 1.2rem;
    line-height: 1;
    color: $title;
    background-color: $bg;
    border: none;

    &::placeholder {
      color: $placeholder;
    }
  }

  &__form-btn {
    padding: 13px 18px;
    @extend %dmsans-400;
    font-size: 1.4rem;
    line-height: 1;
    color: #fff;
    background-color: $accent;
    border: none;
    cursor: pointer;
  }
}

.footer-bottom {
  padding: 36px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

  &__menu-list {
    display: flex;
  }

  &__menu-item {
    padding: 0 16px;
    border-right: 1px solid $footer;

    &:hover {
      color: $title;
    }
  }

  &__menu-item:last-child {
    padding-right: 0;
    border: none;
  }

  &__menu-link {
    color: inherit;
    text-decoration: none;
  }
}







@import 'media';